@font-face {
    font-family: 'San Francisco'; /* Nom de la première police personnalisée */
    src: url('../SanFranciscoFont_apple.otf') format('truetype'); /* Chemin d'accès vers le fichier .ttf de la première police */
}

#bodyApple{
    background-color: black;
    margin: 0;
    overflow: hidden; /*to block the page and prevent the page from scrolling*/
    font-family: 'San Francisco';
}

#animation a {
    text-decoration: none;
    color : whitesmoke;
    font-size: xx-small;
}

.quote {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
}



#item {
    width: 80%;
    text-align: center;
    position: absolute;

    color : whitesmoke;
    font-size: xxx-large;
    font-weight: bolder;

    background-color: black;
    border: thick double whitesmoke;
    padding: 20px;

}

#container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.coin {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('../img/coin.png');
    background-size: cover;
    animation: fall linear forwards; /*constant speed ans stay at the bottom*/
}

@keyframes fall {
    0% {
        top: -50px; /* start above the screen */
    }
    100% {
        top: calc(100% - 80px); /* bottom of the screen */
    }
}

/*css for the page content*/
header.pageContent {
    display: none; /*hide the elements of the page until the animation is done*/
    background-color: #272626;
}
section.pageContent{
    display: none; /*hide the elements of the page until the animation is done*/
    margin : 100px;
    
}

.pageContent h1{
    font-size: 70px;;
}

.pageContent p {
    font-size: 30px;
    text-align: justify;
}