nav a{
    text-decoration: none;
    color: whitesmoke;
}

nav a:hover {
    color: orangered;
}


#entete{
    background-color: rgb(46, 9, 125);
    height: 10%;
}

#entete img {
    max-width: 6%;
    height: auto;
    display: block;
}


#navigation{
    background-color: rgb(33, 34, 35);
    display : flex;
    align-items: center;
    justify-content: center;
}

#navigation img{
    height: 20px;

}


/* Styles for navigation links */
#links {
    list-style: none;
    display: flex;
}
#links li {
    margin-right: 55px;
}
#links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
#links a:hover {
    color: #adabab;
}

section{
    margin : 100px;
}
section a {
    text-decoration: none;
    color : #929494;

}
section p{
    text-align: justify;
    font-size: 30px;
}

#title {
    font-size: 70px;;
}

ol {
    list-style-type:lower-roman;
    font-size: 25px;
}

footer{
    background-color: rgb(46, 9, 125);
    color: white;
    margin: 0;
    padding: 15px;
    text-align: center;
}
