nav a{
    text-decoration: none;
    color: whitesmoke;
}

nav a:hover {
    color: orangered;
}


#entete{
    background-color: rgb(46, 9, 125);
    height: 10%;
}

#entete img {
    max-width: 6%;
    height: auto;
    display: block;
}


#navigation{
    background-color: rgb(33, 34, 35);
    display : flex;
    align-items: center;
    justify-content: center;
}

#navigation img{
    height: 20px;

}


/* Styles for navigation links */
#links {
    list-style: none;
    display: flex;
}
#links li {
    margin-right: 55px;
}
#links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
#links a:hover {
    color: #adabab;
}

#gnu_linux_images {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-bottom: 50px;
}

section{
    margin : 100px;
}
section a {
    text-decoration: none;
    color : #929494;

}
section p{
    text-align: justify;
    font-size: 30px;
}

h1 {
    font-size: 70px;
}

ol {
    list-style-type:lower-roman;
    font-size: 25px;
}

body {
        background: radial-gradient(circle, #afc7e1, #efbd78);
}

footer{
    background-color: rgb(46, 9, 125);
    color: white;
    margin: 0;
    padding: 15px;
    text-align: center;
}

.pageContent {
	display: none;
}

/* styling for the form */
.image-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.image-container label {
	cursor: pointer;
}
.image-container input[type="radio"] {
	display: none;
}
.image-container input[type="radio"] + img {
	border: 2px solid transparent;
	transition: border 0.3s ease;
}
.image-container input[type="radio"] + p {
	border: 2px solid transparent;
	transition: border 0.3s ease;
}
.image-container input[type="radio"]:checked + img {
	border: 2px solid #42b983; /* Highlight color */
}
.image-container input[type="radio"]:checked + p {
	border: 2px solid #42b983; /* Highlight color */
}

button {
	display: block;
	margin: 20px auto; /* Center the button and add top and bottom margin */
	padding: 15px 30px; /* Increase padding for a bigger button */
	font-size: 16px; /* Increase font size */
	background-color: #42b983; /* Button background color */
	color: #fff; /* Button text color */
	border: none;
	border-radius: 5px; /* Rounded corners */
	cursor: pointer;
	transition: background-color 0.3s ease; /* Smooth background color transition */
}
button:hover {
	background-color: #369f72; /* Darker shade on hover */
}
}
