@font-face {
    font-family: 'HACK'; /* Nom de la première police personnalisée */
    src: url('../hack.regular.ttf') format('truetype'); /* Chemin d'accès vers le fichier .ttf de la première police */
}

body{

    margin: 0;
    padding: 0;
    font-family: 'HACK';
    color: rgb(46, 9, 125);

}

h1 {
    margin-top: 100px;
    font-size:xxx-large;
    font-style: bold;
}

h2 {
    font-size: x-large;
    font-weight: 500;
}

header img {
    max-width: 8%;
    height: auto;
    display: block;
}

header{
    background-color: rgb(46, 9, 125);
    height: 20%;
}

footer{
    background-color: rgb(46, 9, 125);
    color: white;
    margin: 0;
    padding: 15px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: whitesmoke;
}

nav a:hover {
    color: orangered;
}

#icons{
    margin-top: 50px;
    margin-bottom: 100px;
}

section, main{
    background: linear-gradient(to right, #e6d2f6 15%, #5e17eb 100%);
    padding: 15px;
    text-align: center;
    margin: 0;

    
}


#navigation {
    display: flex;
    justify-content: center;

    
}

.box {
    padding: 50px;
}

#us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Pour aligner les images verticalement */
    gap: 150px; /* Espace entre les images et le texte */
    margin-bottom: 50px;
}

#us img{
    max-width: 300px;

}

figure {
    text-align: center;
}


main p{
    margin-left: 100px;
    margin-right: 100px;
}

main a{
    text-decoration: none;
    color: rgb(219, 178, 241);
}

