@font-face {
    font-family: 'Segoe'; /* Nom de la première police personnalisée */
    src: url('../segoeuil.ttf') format('truetype'); /* Chemin d'accès vers le fichier .ttf de la première police */
}


body{
    background: radial-gradient(circle, #afc7e1, #90c5e8);
    color: rgb(19, 8, 119);
    font-family: 'Segoe';
    margin: 0;
    padding: 0;

}

footer{
    background-color: rgb(46, 9, 125);
    color: white;
    margin: 0;
    padding: 15px;
    text-align: center;
    
}
nav a{
    text-decoration: none;
    color: whitesmoke;
}

nav a:hover {
    color: orangered;
}

#entete{
    background-color: rgb(46, 9, 125);
    height: 10%;
}

#entete img {
    max-width: 6%;
    height: auto;
    display: block;
}


#navigation{
    background-color: rgb(186, 215, 245);
    display : flex;
    align-items: center;
    justify-content: center;

}

#navigation img{
    height: 25px;
}

/* Styles for navigation links */
#links {
    list-style: none;
    display: flex;
}

#links li {
    margin-right: 55px;
}


#links a {
    font-weight: 700;
    color: rgb(19, 8, 119);
    text-decoration: none;
    font-size: 15px;
}

#links a:hover {
    color: #71a4f7;
}

section{
    margin : 100px;
}



#title h1{
    font-size: 50px;;

}

#title h2{
    font-size: 40px;
}

#intro {
    font-size: 30px;
    text-align: justify;
}

section h1{
    font-size : 60px;
}

section p{
    font-size: 25px;
    text-align: justify;
}

section a{
    text-decoration: none;
    color:rgb(132, 77, 192);
}

section a:hover{
    color: blue;
}

#windows{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-bottom: 50px;
}


#windows figure {
    margin: 0 30px; /* Adjust margin to manage spacing between figures */
    text-align: center;
}

#windows img{
    max-width: 400px; /* Adjust as needed */
    margin-top: 50px;
}

#windows figcaption {
    margin-top: 5px; /* Space between image and caption */
    font-size: 14px; /* Adjust font size as needed */
}

ol{
    list-style-type:lower-roman;
    font-size: 25px;

}