#wait_text {
	text-align: center;
}

#bottom_note {
	position: fixed;
	top: 90%;
	width: 100%;
	text-align: center;
}

#update {
	position: fixed;
	top: 50%;
	width: 100%;
}

#spinner {
	width: 40px;
	height: 40px;
	position: relative;
	left: 50%;
	animation: spinner 2.5s infinite linear both;
}

.dot {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0; 
	animation: dot 2.0s infinite ease-in-out both; 
}

.dot:before {
	content: '';
	display: block;
	width: 25%;
	height: 25%;
	background-color: black;
	border-radius: 100%;
	animation: dot-before 2.0s infinite ease-in-out both; 
	transform: scale(0.5); 
}

.dot:nth-child(1) { animation-delay: -1.1s; }
.dot:nth-child(2) { animation-delay: -1.0s; }
.dot:nth-child(3) { animation-delay: -0.9s; }
.dot:nth-child(4) { animation-delay: -0.8s; }
.dot:nth-child(5) { animation-delay: -0.7s; }
.dot:nth-child(6) { animation-delay: -0.6s; }
.dot:nth-child(1):before { animation-delay: -1.1s; }
.dot:nth-child(2):before { animation-delay: -1.0s; }
.dot:nth-child(3):before { animation-delay: -0.9s; }
.dot:nth-child(4):before { animation-delay: -0.8s; }
.dot:nth-child(5):before { animation-delay: -0.7s; }
.dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes spinner {
	100% { transform: rotate(360deg); } 
}

@keyframes dot {
	80%, 100% { transform: rotate(360deg); } 
}

@font-face {
	font-family: 'Segoe'; /* Nom de la première police personnalisée */
	src: url('../segoeuil.ttf') format('truetype'); /* Chemin d'accès vers le fichier .ttf de la première police */
}

body{
	background-color: #0264b7;
	color: white;
	font-family: 'Segoe';
	font-size: 2em;
	margin: 0;
	padding: 0;
}

footer{
	background-color: rgb(46, 9, 125);
	color: white;
	margin: 0;
	padding: 15px;
	text-align: center;

}
nav a{
	text-decoration: none;
	color: whitesmoke;
}

nav a:hover {
	color: orangered;
}

#entete{
	background-color: rgb(46, 9, 125);
	height: 10%;
}

#entete img {
	max-width: 6%;
	height: auto;
	display: block;
}


#navigation{
	background-color: rgb(186, 215, 245);
	display : flex;
	align-items: center;
	justify-content: center;

}

#navigation img{
	height: 25px;
}

/* Styles for navigation links */
#links {
	list-style: none;
	display: flex;
}

#links li {
	margin-right: 55px;
}


#links a {
	font-weight: 700;
	color: rgb(19, 8, 119);
	text-decoration: none;
	font-size: 15px;
}

#links a:hover {
	color: #71a4f7;
}

section{
	margin : 100px;
}



#title h1{
	font-size: 50px;;

}

#title h2{
	font-size: 40px;
}

#intro {
	font-size: 30px;
	text-align: justify;
}

section h1{
	font-size : 60px;
}

section p{
	font-size: 25px;
	text-align: justify;
}

section a{
	text-decoration: none;
	color:rgb(132, 77, 192);
}

section a:hover{
	color: blue;
}

#windows{
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	margin-bottom: 50px;
}


#windows figure {
	margin: 0 30px; /* Adjust margin to manage spacing between figures */
	text-align: center;
}

#windows img{
	max-width: 400px; /* Adjust as needed */
	margin-top: 50px;
}

#windows figcaption {
	margin-top: 5px; /* Space between image and caption */
	font-size: 14px; /* Adjust font size as needed */
}

ol{
	list-style-type:lower-roman;
	font-size: 25px;

}

.pageContent {
	display: none;
}
